.mat-label-SS {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.shrink img {
    transition: 1s ease;
    }
    
    .shrink img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }
.zoom {
    background-color: rgb(243, 243, 243);
    transition: transform .2s;
    /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.05);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}