<div style="
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
">
<div style="
    margin-top: 20px;
    width: 800px;
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
">
<div>
    <img src="{{this.landmaek.url}}" alt="image" width="800px">
</div>
<div style="display: flex;position: relative;flex-direction: column;">
    <div style="margin-left: 20px">
        <span style="font-size: 30px">{{this.landmaek.name}}</span>
    </div>
    <div style="margin-left:20px">
        {{this.landmark.country}}
    </div>
    <div style="margin-left:20px">
        {{this.landmark.detail}}
    </div>
    <div style="margin-left:20px">
        <button mat-raised-button
        color="primary"
        style="margin-left:10px;
            height: 30px;
            font-family: 'Prompt',sans-serif;
        "
        routerLink=".."
        (click) ="back()"
       >
       กลับ

        </button>
    </div>

</div>
</div>

</div>